
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;

  color: inherit;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
@font-face {
  font-family: 'iconfont';  /* project id 2246954 */
  src: url('//at.alicdn.com/t/font_2246954_7y9oqrdqld.eot');
  src: url('//at.alicdn.com/t/font_2246954_7y9oqrdqld.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2246954_7y9oqrdqld.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2246954_7y9oqrdqld.woff') format('woff'),
  url('//at.alicdn.com/t/font_2246954_7y9oqrdqld.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2246954_7y9oqrdqld.svg#iconfont') format('svg');
}
